<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Pet Adoption Agency</h1>
    <br>
    <br>
    <h2>Pet Listings</h2>
    <ul>
        {% for new_pet in pets %}
        <li><img src="{{new_pet.photo_url}}" alt="Pet" width="50" height="50">
        {% if new_pet.available == True %}
        <a href="/{{ new_pet.id }}">{{ new_pet.name }}</a><b>Available</b>
        <br>
        <br>
        {% else %}
        <a href="/{{ new_pet.id }}">{{ new_pet.name }}</a>Unavailable
        <br>
        <br>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    <span><a href="/add">Add Pet</a></span>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>